@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>

<h1>Books for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Book book in Model)
    {
      <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
    }
  </ul>
} 
else
{
  <h3>No books have been added yet!</h3>
}

<p>@Html.ActionLink("Add new book", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>


// @* Because we use System.Security.Claims, we'll be redirected to the Account/Login view if we aren't logged in.

// We also use the method Any() instead of Count with our if statement and switch the branching logic around. If the Model includes any books, this will return true, and we'll loop through our list. Otherwise, the statement will return false and we'll display the "no books added" message. *@