@{
  Layout = "_Layout";
}

<h1>Welcome to the library</h1>


<p>@Html.ActionLink("Librarian Login/Create Account", "Index", "Account")</p>
<p>@Html.ActionLink("Go To Customer Browse", "Index", "Patrons")</p>
<p>@Html.ActionLink("View Books", "Index", "Books")</p>